
html{
    font-size: 22px
}
body{
    background-color: #333;
    color:whitesmoke;
    align-items: center;
    justify-content: center;
    background-image: url("/blog.JPG");
    width:100vw;
   height: 250vh;
   max-width: 1500px;


}

